* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  display: grid;
  place-items: center;
}